[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/luizdepra/hugo-coder.git
